.navbar {
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #62DB54 50%, #09ACF5 50%);
    border-image-slice: 1;



    h1 {
        a {
            display: block;
            width: 175px;
            height: 42px;
            background: url('../images/logo.svg') no-repeat center;
            background-size: contain;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;

            @include mobile {
                background: url('../images/logo2.svg') no-repeat;

            }
        }
    }

    .ham {
        @include text_gradientUpDown;
    }

    ul {
        a {
            position: relative;
            display: block;
            font-size: 18px;
            @include navHover;
        }
    }


}

.modal {
   
    img {
        width: 24px;
        height: 24px;
    }
    .submit{
        background: linear-gradient(to right, #09ACF5, #62DB54);
    }

    p {
        position: relative;

        &::before {
            content: '';
            border: 1px solid #fff;
            position: absolute;
            width: 100%;
            top: 50%;
            right: -155%;
            transform: translate(-50%, -50%);
        }

        &::after {
            content: '';
            border: 1px solid #fff;
            position: absolute;
            width: 100%;
            top: 50%;
            left: -55%;
            transform: translate(-50%, -50%);
        }
    }
    a{
        width: 100%;
    }
}