
.detail_main{
    padding: 80px 0;
}


.detail_content{
    border-radius: 24px;
    img{
        width: 100px;
        height: 100px;
    }
}

.teacher{
    padding: 32px;
    border-radius: 24px;
    span{
        color: #62DB54;
    }
    .teacher_intro{
        padding-bottom: 32px;
        margin-bottom: 32px;
    }
}
.class_detail{
    padding: 32px;
    border-radius: 24px;
    h4{
        border-left: 2px solid #62DB54;
    }
    ul{
        margin-bottom: 32px;
        
        li{
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                background: #62DB54;
                position: absolute;
                top: 50%;
                left: -8px;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.detail_list{
    padding: 40px 32px;
    .box{
        width: 10px;
        height: 10px;
        background: #fff;
    }
    li{
        &:hover{
            color: #62DB54;
        }
    }
    a{
        display: block;
        width: 32px;
        height: 32px;
        background: linear-gradient(to right, #09ACF5, #62DB54);
    }
}
.detail{
    .index_content4{
        background: #000;
    }
}