.intor_content {
    padding-bottom: 80px;
}

.intro_tour {
    li {
        a {
            padding: 16px 32px;
            white-space: nowrap;
        }
    }

    .active {
        border: 1px solid #62DB54;
        background-color: transparent;
        color: #62DB54;
    }

    &::-webkit-scrollbar {
        width: 0px;
    }

}


.intro_list {
    border-radius: 24px;
    margin-bottom: 32px;

    img {
        width: 100px;
        height: 100px;
    }

    .price {
        p {
            &:nth-child(2) {
                font-size: 32px;
            }
        }

    }

    a:last-child {
        background: linear-gradient(to right, #09ACF5, #62DB54);
    }

    @include pad {
        flex-direction: column;
        align-items: center;
    }
}