.progress {
    height: 1px;

    .progress-bar {
        background: #62DB54;
    }
}

.progress_circle {
    position: absolute;
    top: -10px;
    left: -30px;
}

.active {
    .circle {
        border: 1px solid transparent;
        background: #62DB54;
        color: #fff;
    }

    p {
        color: #62DB54;
    }
}


.progress_circle2 {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.progress_circle3 {
    position: absolute;
    top: -10px;
    right: -30px;
}

.circle {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C1C1C;
}

.pay_content {
    background: #000;
    padding-bottom: 114px;
}

.box {
    margin-right: -50px;
    z-index: 2;
    .pay_left {
        padding: 48px 32px;
        position: relative;

        img {
            width: 100px;
            height: 100px;
            border: 3px solid #62DB54;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            border-width: 12px;
            border-style: solid;
            border-color: transparent transparent transparent #2D2D2D;
            top: 50%;
            right: -24px;
            transform: translateY(-50%);
        }
    }
    @include desktop{
        margin: 0;
    }
    @include pad {
        .pay_left {
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                border-width: 12px;
                border-style: solid;
                border-color: #2D2D2D transparent transparent transparent;
                bottom: -36px;
                right: 50%;
                transform: translateY(-50%);
            }
        }

    }
}


.pay_way {
    padding-left: 114px;
    padding-right: 32px;

    ul {
        margin-bottom: 32px;

        li {
            a {
                padding: 16px 32px;
            }
        }
    }

    input,
    select {
        width: 100%;
    }

    .pay_btn {
        @include pad {
            flex-direction: column;
        }

        a {
            background: linear-gradient(to right, #09ACF5, #62DB54);

        }
    }

}