.success_content{
    background: #000;
    .success_text{
        margin: 48px 0 135px 0;
        padding: 48px 32px;
    }
    p{
        margin-bottom: 32px;
    }
    .btn{
        background: linear-gradient(to right, #09ACF5, #62DB54);
    }
}